Flask==3.0.3
Flask_Cors==4.0.0
Flask_PyMongo==2.3.0
numpy==2.0.0
opencv_python==4.9.0.80
opencv_python_headless==4.9.0.80
pymongo==4.6.3
Requests==2.32.3
supervision==0.21.0
torch==2.2.1+cu121
ultralytics==8.1.29
